<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div id="date">
      <h1>Hello there! Inputing Dates in Progress..</h1>
      <h2>Input a day in the format MM/DD/YYY</h2>
      <form action="/form" method="post">
     <label for="sender">Month</label>
     <input id="result" name="sender" type="text">
     <label for="sender">Day</label>
     <input id="result2" name="sender" type="text">
     <label for="sender">Year</label>
     <input id="result3" name="sender" type="text">
     <button type="submit">Go!</button>
    </form>
      
    </div>
    
    
  </body>
</html>